html,
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 24px 16px 0;
}

input {
  padding: 5px;
}

.foodList--ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}

.foodCard--li {
  height: 350px;
  background: #eeeeee;
  overflow: hidden;
  padding-bottom: 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px;
}

.foodCard--img {
  /* refactor this so all images are consistent! */
  width: 100%;
  height: auto;
  object-fit: cover;
}

.loader--div {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
