html,
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 24px 16px 0;
}

input {
  padding: 5px;
}

.foodList--ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 16px;
  margin: 24px 0 0 0;
  padding: 0;
  list-style: none;
}

.foodCard--li {
  height: 350px;
  background: #eeeeee;
  overflow: hidden;
  padding-bottom: 16px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px;
}

.foodCard--img {
  /* refactor this so all images are consistent! */
  width: 100%;
  height: auto;
  object-fit: cover;
}
